:root {
    --white: #FFFFFF;
    --black: black;
    --background: #FFA068;
    --button: #06D6A0;
    --highlight: #202A48;
    --navbar: #FFBD95;
    --range: #2EC7DC;
    --yellow: #FFF5D0;
}

@font-face {
    font-family: 'texte';
    src: url(./assets/fonts/Tomorrow-Regular.ttf);
}

@font-face {
    font-family: 'chiffres';
    src: url(./assets/fonts/Tomorrow-Black.ttf);
}

@font-face {
    font-family: 'titres';
    src: url(./assets/fonts/Jost-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'autre';
    src: url(./assets/fonts/Tomorrow-Medium.ttf);
}

* {
    margin: 0;
    /* box-sizing: border-box; */
}

body {
    background: var(--background);
    margin: 0 auto;
    color: var(--black);
    font-family: texte, sans-serif;
    font-weight: 500;
    width: 100%;
}

.first-hide,
#label-hide {
    display: none;
}

button {
    background: var(--highlight);
    color: var(--button);
    border-radius: 8px;
    border: 1px solid transparent;
    font-family: titres;
    font-weight: 400;
    font-size: 1rem;
    height: 3rem;
    width: 15lvw;
}

button:hover {
    background: var(--navbar);
    border: 1px solid var(--button);
    color: var(--highlight);
    cursor: pointer;
}

/*** barre du haut ***/

header {
    background: var(--navbar);
    width: 99lvw;
    position: fixed;
    top: 0;
    transition: top 0.3s;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 1.5lvw;
    width: 95lvw;
    height: 20lvh;
    font-family: titres, sans-serif;
    font-size: 1rem;
    color: var(--highlight);
}

nav>img {
    width: 19lvw;
}

nav>p>i {
    padding: 20px 10px;
}

nav>p>a {
    text-decoration: none;
    color: var(--highlight);
}

nav>p>a:hover {
    color: var(--button);
}

nav>p:nth-child(4) {
    display: flex;
    justify-content: center;
    background: transparent;
    align-items: center;
    border: 1px solid var(--background);
    border-radius: 8px;
    padding: 0 10px;
    max-height: 2.9rem;
}

nav>p:nth-child(4):hover {
    color: var(--button);
    border-color: var(--button);
}

nav>button:hover {
    background: var(--background);
}

.hide-bar {
    display: none;
}

.burger-menu {
    position: sticky;
    top: 2.5lvh;
    font-size: 4.5rem;
    cursor: pointer;
    color: var(--black);
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: var(--black);
    text-decoration: none;
}

/****** hero ******/

main {
    margin-top: 15lvh;
}

.hero {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    max-width: 100lvw;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-title {
    display: flex;
    justify-content: center;
    padding: 0 0 10lvh 0;
}

h1 {
    font-family: titres;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: -0.1rem;
    text-align: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12lvh;
}

.quali {
    background: #D9FFF5;
    border-radius: 16px;
    padding: 15px 15px 0px 15px;
    display: flex;
    text-align: left;
    width: 35lvw;
}

.quali-left>p {
    margin: 10px auto;
}

h4 {
    font-size: 1rem;
    font-weight: 900;
    padding: 0 0 5px;
}

#qualirepar {
    width: 9lvw;
    height: 4.5lvw;
    margin: auto;
    padding-bottom: 9px;
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-right>img {
    width: 38.5lvw;
}

/*** les chiffres ***/

.stats {
    background: var(--navbar);
    color: var(--highlight);
    display: flex;
    justify-content: space-around;
    padding: 25px;
    font-family: texte;
    font-weight: 700;
}

.choc {
    font-family: chiffres;
    font-size: 2.5rem;
}

.up {
    transform: rotate(-17deg);

}

.down {
    transform: rotate(17deg);
}

.up,
.down {
    text-align: center;
}

.stabilo {
    border: 1px solid var(--highlight);
    height: 8lvw;
    width: 22lvw;
    transform: rotate(5deg);
}

.stabilo:nth-of-type(2) {
    transform: rotate(-5deg);
}

/****** gammes ******/

.ranges {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--white);
}

h2 {
    font-family: titres;
    font-weight: 900;
    font-size: 1.875rem;
    padding: 1.75lvw;
}

.range-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90lvw;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25lvw;
    width: 25lvw;
    background: var(--white);
    margin: 3%;
    border-radius: 5px;
}

.img-container img {
    width: 22lvw;
}

.big>img {
    height: 40vh;
}

.middle .stabilo {
    transform: rotate(5deg);
}

.range-container .stabilo {
    background: var(--highlight);
    color: var(--range);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4lvw auto;
    height: 15lvh;
}

h3 {
    font-family: 'texte';
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    margin: 1.6lvw;
}

#gros,
#petit {
    transform: rotate(5deg);
}

#moyen {
    transform: rotate(-5deg);
}

/*** logos de marques***/

.logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1lvw;
    padding: 20px;
    background: var(--navbar);
}

.icon {
    font-size: 3rem;
    padding: 30px;
}

.icon:hover {
    color: var(--navbar);
}

.logos-container {
    width: 15lvw;
    height: 6lvw;
    display: flex;
    background: var(--white);
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.logos-container>img {
    max-width: 10lvw;
    border-radius: 15px;
}

/****** avis ******/

.advices {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px auto;
}

.advices>h2 {
    font-size: 2.8rem;
    font-weight: 900;
    margin-bottom: 30px;
}

.advice-container {
    display: flex;
    max-width: 80lvw;
    margin: auto;
}

.advice-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 40lvw;
}

.advice-left>img {
    width: 40lvw;
}

.advice-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 230px;
    padding: 25px 0;
}

.icon-circle {
    height: 34px;
    width: 34px;
    border-radius: 50px;
    background: var(--white);
}

.icon-circle:hover {
    background: var(--button);
}

.icon-circle .fa-solid {
    color: var(--background);
    transform: translate(120%, 50%);
}

.small-circle {
    height: 14.5px;
    width: 14.5px;
    border-radius: 50px;
    background: #112A46;
}

.small-circle.active {
    background: var(--button);
}


.advice-right {
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40lvw;
    padding: 35px;
    position: relative;
}

.advice-right h4 {
    font-family: autre;
    font-weight: 900;
}

.advice-right p {
    margin: 15px 0 40px;
}

#signature {
    font-family: autre;
    font-weight: 900;
    color: var(--highlight);
    margin-bottom: 7px;
}

.advice-right::after {
    content: "";
    position: absolute;
    background: var(--highlight);
    height: 2px;
    width: 88%;
    bottom: 16%;
    left: 6%;
}

/*** manifeste ***/

.remind {
    background: var(--navbar);
    height: 34lvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 97lvw;
}

.remind-stabilo {
    background: var(--navbar);
    border: 1px solid var(--highlight);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50lvw;
    height: 28lvh;
    transform: rotate(-5deg);
}

.remind-stabilo>h3 {
    color: var(--highlight);
    font-family: autre;
    font-size: 2.5rem;
    transform: rotate(5deg);
}

.manifest {
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.manifest-box {
    display: flex;
    justify-content: space-around;
    width: 85lvw;
    margin: 30px auto 60px;
    gap: 9.5lvw;
}

.manifest-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 45lvw;
}

.manifest-left>h2 {
    font-size: 1.875rem;
    padding: 0;
    margin-bottom: 30px;
}

.manifest-left>button {
    max-width: 20rem;
    max-height: 2rem;
    margin: 30px 0;
}

.why {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.why>p {
    margin: 10px auto;
    font-size: 1.1rem;
}

.manifest-right>img {
    margin-top: 30px;
    width: 38lvw;
}

/*** nos services ***/

.services {
    background: var(--navbar);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.services>h2 {
    text-align: center;
}

.service-container {
    display: flex;
    justify-content: space-around;
    width: 75lvw;
}

.card {
    background: var(--highlight);
    color: var(--white);
    border-radius: 15px;
    padding: 25px 25px 45px 25px;
    width: 17lvw;
}

.card>h4 {
    color: var(--button);
    font-weight: bold;
    font-size: 1.1rem;
    margin: 4lvh 0;
}

.card a {
    text-decoration: none;
    color: var(--white);
}

.card a:hover {
    color: var(--white);
}

/*** localisation ***/

.localisation {
    width: 85lvw;
}

.localisation>h4 {
    margin: 10lvh 0 5lvh;
    font-family: titres;
    font-weight: bold;
    font-size: 1.4rem;
}

.localisation img {
    width: 85lvw;
    border-radius: 15px;
}

.map-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.map-container>p {
    border: 1px solid var(--background);
    background-color: rgba(24, 60, 251, 0.10);
    border-radius: 5px;
    text-align: center;
    width: 15rem;
    padding: 5px 10px;
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.map-container>p:hover {
    border-color: #275488;
    color: transparent
}

.map-container .fa-solid {
    color: var(--background);
    margin-left: 20px;
}

.map-container .fa-solid:hover {
    color: #275488;
    cursor: pointer;
}

.infos {
    margin: 6lvh 0 8lvh 7lvw;
    width: 95lvw;
}

/****** footer ******/

footer {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 15lvh 15lvw;
}

footer h4 {
    color: var(--highlight);
    font-family: autre;
    margin-bottom: 5px;
}

footer a {
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
    margin: 12px 0;
}

footer a:hover {
    color: var(--button);
}

.links {
    display: flex;
    flex-direction: column;
    width: 20lvw;
}

#follow {
    width: 12lvw;
}

@media screen and (max-width: 1024px) {

    .to-hide {
        display: none;
    }

    .first-hide {
        display: block;
    }

    /*** barre de navigation ***/

    header {
        position: static;
        width: 99lvw;
        z-index: 0;
    }

    nav {
        padding: 5px 15px 1px;
        margin: 0 auto;
        gap: 20px;
        width: 85lvw;
    }

    nav>img {
        width: 38lvw;
        padding-top: 5px;
    }

    #search {
        padding: 7px 7px 7px 0;
        width: 38lvw;
    }

    #search>i {
        margin: 0 12px 0 8px;
    }

    .hide-bar {
        display: flex;
        /* Afficher sur les petits écrans */
        flex-direction: column;
        align-items: flex-end;
        background: var(--navbar);
    }

    .nav-links {
        display: none;
        /* Cacher les liens de navigation par défaut */
        flex-direction: column;
        width: 30lvw;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    /* #burger-search {
        display: none;
    } */

    /****** hero ******/

    main {
        margin-top: 15px;
    }

    .hero {
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    .hero-title {
        width: 40lvw;
        margin: 0 auto;
        text-shadow: 0px 4px 4px #b35d2f;
        padding-bottom: 5lvw;
    }

    .hero-text {
        gap: 2lvw;
    }

    .hero-text>button {
        order: -1;
        margin: 0 auto;
        width: 28lvw;
    }

    .hero-text>p {
        margin: 1lvw auto 4lvw;
        font-size: 1.1rem;
    }

    .hero-text>img {
        width: 75lvw;
        margin: 0 auto;
    }

    .quali {
        margin: 0;
        padding: 30px 10px 10px 80px;
        border-radius: 0;
        width: 91lvw;
    }

    .quali a {
        color: var(--black);
    }

    #qualirepar {
        width: 18lvw;
        height: 10lvw;
        margin: 0 30px 0 20px;
        padding-bottom: 9px;
    }

    /*** les chiffres ***/

    .stats {
        justify-content: center;
        width: 94lvw;
    }

    .range-container .stabilo {
        width: 42.5lvw;
        height: 10lvw;
        margin: 10px auto;
    }

    #XS {
        margin-bottom: 40px;
    }

    /****** gammes ******/

    .ranges {
        background: var(--background);
    }

    .range-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-container {

        width: 40lvw;
        height: 40lvw;
        border-radius: 0;
    }

    #oven {
        width: 90%;
        height: 90%;
    }

    #vacuum {
        width: 78%;
        height: 100%;
    }

    #coffee {
        width: 90%;
        height: 90%;
    }

    .range-container .stabilo {
        width: 45lvw;
        height: 14lvw;
        margin: 3lvw auto;
    }

    .logos {
        gap: 3lvw;
        padding: 0;
        width: 99lvw;
    }

    .logos-container {
        width: 12lvw;
        height: 9lvw;
    }

    #fixed {
        background: var(--background);
        color: var(--highlight);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #fixed .stabilo {
        margin-top: 3lvh;
        width: 35lvw;
        height: 10lvw;
    }

    #fixed .up {
        margin-top: 1lvh;
    }

    .advices {
        background: var(--navbar);
        margin-bottom: 0;
        margin-top: 17px;
        width: 99lvw;
    }

    .advices>h2 {
        margin: 3lvw 1lvw;
        margin-left: 3lvw;
    }

    .advice-container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .advice-left {
        align-items: center;
    }

    .advice-left>img {
        width: 80lvw;
        content: url(./assets/img/Image-femme-aspi.png);
    }

    .advice-right {
        width: 80lvw;
        padding: 10px;
    }

    .advice-right::after {
        width: 78lvw;
        left: 3%;
    }

    .manifest {
        background: var(--yellow);
        width: 99lvw;
    }

    .remind {
        background: var(--background);
        height: 22lvh;
        width: 100%;
    }

    .remind-stabilo {
        background: var(--background);
        width: 40lvw;
        height: 20lvh;
    }

    .manifest-box {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .manifest-left {
        width: 85lvw;
    }

    .manifest-left>button {
        align-self: center;
        width: 30lvw;
        margin: 0 auto;
    }

    .manifest-right>img {
        margin-top: 15px;
        content: url(./assets/img/Image-atelier.png);
        width: 87lvw;
    }

    #certif {
        background: var(--background);
        color: var(--highlight);
        width: 99lvw;
        height: 15lvw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #certif .stabilo {
        width: 45lvw;
        font-family: autre;
    }

    .services {
        width: 99lvw;
    }

    .service-container {
        flex-direction: column;
        align-items: center;
        gap: 2lvw;
    }

    .card {
        width: 50lvw;
    }

    .localisation>h4 {
        margin: 20px auto;
        text-align: center;
    }

    .map-container>img {
        content: url(./assets/img/carte-tablette.png);
        width: 92lvw;
    }

    .map-container>p {
        padding-bottom: 8px;
    }

    .infos {
        margin: 13px 0 5lvw 30lvw;
    }

    footer {
        padding: 10px 10lvw;
        justify-content: space-between;
    }

    footer h4 {
        margin-left: 7px;
    }

    footer a {
        margin: 7px;
    }

    .links {
        width: 27lvw;
    }

    #follow {
        width: 20lvw;
    }
}

@media screen and (max-width: 787px) {
    .remind {
        height: 27vh;
    }

    .remind-stabilo {
        height: 25vh;
    }
}

@media screen and (max-width: 703px) {
    #search {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 663px) {
    #search {
        font-size: 0.8rem;
    }

    .stabilo {
        width: 30vw;
    }
}

@media screen and (max-width: 635px) {
    #search {
        font-size: 0.7rem;
    }

    .remind {
        height: 30vh;
    }

    .remind-stabilo {
        height: 29vh;
    }
}

@media screen and (max-width: 600px) {

    nav {
        margin: 0;
        padding: 0;
        height: 30lvw;
        gap: 0.5lvw;
        width: 93lvw;
    }

    nav>img {
        width: 68lvw;
        padding-left: 1lvw;
    }

    #search {
        display: none;
    }

    .burger-menu {
        font-size: 16lvw;
    }

    .hero-text>p {
        display: none;
    }

    .hero-text>button {
        width: 55lvw;
        height: 3.5rem;
    }

    .hero-text>img {
        display: none;
    }

    .hero-right {
        display: flex;
        justify-content: space-between;
        width: 85lvw;
        padding: 6% 6% 1%;
    }

    #label-hide {
        display: block;
    }

    #label-hide>img {
        width: 27lvw;
    }

    .hero-right>img {
        display: block;
        content: url(./assets/img/robert.png);
        width: 50lvw;
    }

    .quali {
        display: none;
    }

    .stats {
        padding: 20px 10px;
        width: 95lvw;
    }

    .stats .stabilo {
        width: 85lvw;
        height: 22lvw;
    }

    .ranges {
        justify-content: center;
        align-items: center;
    }

    .ranges>h2 {
        text-align: center;
        padding: 1lvw;
    }

    .big,
    .middle,
    .small {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 130lvw;
    }

    .range-container .img-container {
        margin: 10px 0;
        width: 80lvw;
        height: 80lvw;
    }

    .range-container .stabilo {
        width: 88lvw;
        height: 30lvw;
    }

    .logos {
        width: 98lvw;
    }

    .logos-container:nth-child(3),
    .logos-container:nth-child(6),
    .logos-container:nth-child(7) {
        display: none;
    }

    .logos-container>img {
        max-width: 90%;
    }

    #fixed {
        display: none;
    }

    .advices {
        background: var(--background);
        margin-top: 3%;
        width: 95lvw;
    }

    .advices>h2 {
        padding: 0;
        text-align: center;
    }

    .advice-left>img {
        display: none;
    }

    .advice-nav {
        padding: 3px 0 10%;
    }

    .advice-right {
        background: var(--background);
        width: 88lvw;
    }

    .advice-part:nth-child(2) {
        display: none;
    }

    .advice-right::after {
        width: 94%;

    }

    .manifest {
        display: none;
    }

    .services {
        width: 97.5lvw;
    }

    .services>h2 {
        padding: 2% 0 5%;
    }

    .service-container {
        gap: 4.5lvw;
    }

    .card {
        width: 65lvw;
    }

    .map-container>img {
        content: url(./assets/img/carte-tel.png);
        width: 88lvw;
    }

    .map-container>p {
        padding: 2.5% 0;
        font-size: 0.9rem;
    }

    .infos {
        margin: 0;
        padding: 2lvw 0;
        ;
    }

    footer {
        padding: 2lvw;
    }

    .links:nth-of-type(2) {
        display: none;
    }

    .links {
        width: 58lvw;
    }

    .links>h4 {
        padding-bottom: 2px;
        margin: 2px 3px;
    }

    .links>a {
        margin: 3px;
    }

    #follow {
        width: 29lvw;
        align-items: flex-end;
    }


}