:root {
    --white: white;
    --black: #061511;
    --background: #FFA068;
    --button: #06D6A0;
    --highlight: #2EC7DC;
    --navbar: #FFBD95;
    --range: #FFD0B5;
  }

@font-face {
font-family: 'texte';
src: url(/assets/fonts/Tomorrow/Tomorrow-Regular.ttf);
}
@font-face {
font-family: 'titre-texte';
src: url(/assets/fonts/Tomorrow/Tomorrow-Bold.ttf);
}
@font-face {
font-family:'titres';
src: url(/assets/fonts/Jost/Jost-VariableFont_wght.ttf);
}

* {
    margin: 0;
}
  
body {
background: var(--background);
margin: 0 auto;
color: var(--black);
font-family: texte, sans-serif;
max-width: 1440px;
}

button {
    background: var(--button);
    border-radius: 5px;
    border: none;
    font-family: titre-texte;
    padding: 10px 50px;
    max-height: 2.4rem;

}

/*** barre du haut ***/

header {
    background: var(--navbar);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 1rem;
    max-height: 10vh;
}

.logo {
    display: flex;
    align-items: center;
    font-family: titres;
    font-weight: bold;
    gap: 7px;
    font-size: 1.1rem;
}

.img-container {
    background: var(--white);
    margin: 3px;
}

.img-container img {
    max-height: 7vh;
}

nav {
    flex: 2;
    max-width: 65%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

nav i {
    padding: 20px 10px;
}

nav p:nth-child(3) {
    display: flex;
    justify-content: var(--white);
    align-items: center;
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 0 10px;
    max-height: 2.3rem;
}

/****** hero ******/

.hero {
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: center;
    gap: 2vw;
    padding: 60px 35px;
    text-align: center;
    max-width: 100vw;
}

h1 {
    font-family: titres;
    font-weight: bolder;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero p:first-child {
    margin-bottom: 30px;
}

.hero button {
    margin: 30px;
}

.quali {
    background: var(--white);
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
    display: flex;
    text-align: left;
    margin: 30px;
}

.quali-left p {
    margin: 10px auto;
    min-width: 50%;
}

#qualirepar {
    width: 11vw;
    height: 6vw;
    margin: 5 auto;
}

.hero-right img {
    border-radius: 10px;
    margin-left: 0;
    height: 47vh;
}

.hero:after {
    content: url(/assets/img/robert.png);
    position: absolute;
    bottom: -110px;
    right: -32px;
    height: 42vh;
}

/*** les chiffres ***/
.stats {
    background: var(--highlight);
}


/****** gammes ******/

.ranges img {
    max-height: 40vh;
}

/*** logos de marques***/



/****** avis ******/



/*** manifeste ***/



/*** nos services ***/



/*** localisation ***/



/****** footer ******/